.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: #4deea3;
}

.purple {
    color: #4deea3;
}
.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin_name {
    margin-left: -4rem;
}

.coin_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin_row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.imgSymbol {
    display: flex;
    align-items: center;
    
}

.coin_percent {
    width: 100px;
  }
  
.red {
    color: #f00606;
  }
  
.green {
    color: #13c783;
  }

@media screen and (max-width: 720px) {
    .hide_mobile {
        display: none;
    }
}

/* coin.js */

